@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../fonts/SourceSansPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('../fonts/SourceSansPro-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-SemiBold.ttf')  format('truetype') /* Safari, Android, iOS */
}
