$blue:                #004f9e;
$yellow:              #FDE118;
$pink:                #F6104B;
$pale-dark-blue:      #2d3e4f; //rgb(45, 62, 79)
$dark-blue:           #324253;
$warm-yellow:         #f4d916; //rgb(244, 217, 22)
$warm-pink:           #f14773; //rgb(241, 71, 115)
$aqua-blue:           #00adde;
$jelly-bean:          #2768a6; //rgb(39, 104, 166)
$jelly-bean-transp:   rgba(39, 104, 166,0.9);
$pickled-bluewood:    #364660; //rgb(54, 70, 96);
$lightgrey:           #f4f4f4;
